.filters {
  display: flex;
  align-items: baseline;
  mat-form-field {
    max-width: 180px;
    margin-right: 20px;

    &:last-child {
      margin: 0;
    }
  }

  button {
    margin-right: 10px;
  }
}

.buttons {
  button {
    margin-right: 4px;
  }
}

form {
  display: flex;
  justify-content: space-between;
}
