.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 400px;
}

.submit {
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-bottom: 20px;
  font-size: 1rem;

  span {
    color: #979696;
    font-size: 1.3rem;
  }

  img {
    width: 38px;
    height: 36px;
    margin-right: 8px;
  }
}
