<div class="wrapper">
  <div class="table-up-controls">
    <button mat-raised-button (click)="openAddBookDialog()">Dodaj książkę</button>
  </div>

  <div class="filters">
    <app-filters (filtersChange)="onFiltersChange($event)"></app-filters>
  </div>

  <div>
    <table mat-table [dataSource]="books">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>#ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Tytuł</th>
        <td mat-cell *matCellDef="let element">{{ element.title }}</td>
      </ng-container>
      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef>Autor</th>
        <td mat-cell *matCellDef="let element">{{ element.author.name }}</td>
      </ng-container>
      <ng-container matColumnDef="publish_year">
        <th mat-header-cell *matHeaderCellDef>Rok wydania</th>
        <td mat-cell *matCellDef="let element">{{ element.publish_year }}</td>
      </ng-container>
      <ng-container matColumnDef="library_branch">
        <th mat-header-cell *matHeaderCellDef>Położenie książki</th>
        <td mat-cell *matCellDef="let element">{{ element.library_branch.name }}</td>
      </ng-container>
      <ng-container matColumnDef="controls">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="controls">
          <button
            mat-button
            color="primary"
            *ngIf="!element.borrow_status.is_borrowed"
            (click)="openBorrowBookDialog(element, $event)"
          >
            Wypożycz książkę
          </button>
          <span *ngIf="element.borrow_status.is_borrowed" class="borrowed">
            Wypożyczona (do {{ element.borrow_status.return_date | date: "dd/MM/yyyy" }})
          </span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        class="mat-row-clickable"
        (click)="openBookDetailsDialog(row)"
      ></tr>
    </table>

    <mat-paginator
      [length]="pagination.total"
      [pageSize]="20"
      [pageSizeOptions]="[20, 50, 100]"
      (page)="onPageChange($event)"
    >
    </mat-paginator>
  </div>
</div>
