<div class="wrapper">
    <table mat-table [dataSource]="books">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="id"> #ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tytuł </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
        <ng-container matColumnDef="author">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Autor </th>
            <td mat-cell *matCellDef="let element"> {{element.author}} </td>
        </ng-container>
        <ng-container matColumnDef="publish_year">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Rok publikacji </th>
            <td mat-cell *matCellDef="let element"> {{element.publish_year}} </td>
        </ng-container>
        <ng-container matColumnDef="controls">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" class="controls">
                <button mat-flat-button color="primary" [disabled]="element.borrow_status === 'o'">
                    {{ element.borrow_status === 'o' ? 'Wypożyczona' : 'Wypożycz' }}
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
</div>