<mat-sidenav-container *ngIf="!isLoginPage" class="example-container">
  <mat-sidenav mode="side" opened>
    <mat-list>
      <mat-list-item>
        <mat-icon>library_books</mat-icon>Książki
      </mat-list-item>
      <mat-list-item>
        <mat-icon>account_balance
        </mat-icon> Filie
      </mat-list-item>
      <mat-list-item>
        <mat-icon>people
        </mat-icon> Czytelnicy
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


<app-login *ngIf="isLoginPage"></app-login>